<div *ngIf='!formSent'>

  <form [formGroup]='resetForm' (submit)='reset()'>
  
    <div class='xxl center mb10'>
      Specify your new password.
    </div>
  
    <p class='mb3'>
      <label>Password</label>
      <input formControlName='password' nhPassword  minlength='8' glAutoFocus style='width: 250px'>
    </p>
  
    <p>
      <label>Confirm</label>
      <input formControlName='confirmPassword' nhPassword  minlength='8' style='width: 250px'>
    </p>
  
    <div class='h1 pt3 center s red i'>
        <div *ngIf='password.value && password.errors?.minlength'>password must be at least 8 characters</div>
        <div *ngIf='password.value && !password.errors && confirmPassword.value && resetForm.errors?.notEqual'>passwords must match</div>
      </div>
  
    <div class='center mt5'>
      <button type='submit' [attr.disabled]='!resetForm.valid || null' class='ok big-button'>Set New Password</button>
    </div>
  
  </form>
  
  
  <div class='center my2'>
    <span class='blue pointer' routerLink='/'>Cancel</span>
  </div>
  
  </div>
  
  <div *ngIf='formSent'>
  
    <p class='xxl center mb10'>
      Success. 
    </p>
  
    <p class='my5 l center'>
      Your password has been reset.
    </p>
  
    <div class='center mt8'>
      <button class='big-button ok' routerLink='/'>Login</button>
    </div>
  
  </div>
  