<div>

</div>
<div class='frame mt10'>

  <div class='webform'>
    <p>
      <label>firm name:</label>
      <input [(ngModel)]='model.firmName'>
    </p>
    <p>
      <label>your name:</label>
      <input [(ngModel)]='model.userName'>
    </p>
    <p>
      <label>email:</label>
      <input [(ngModel)]='model.email'>
    </p>
    <p>
      <label>password:</label>
      <input [(ngModel)]='model.password' type='password'>
    </p>
  </div>
  <div class='center mt8'>
    <button class='ok' (click)='signup()'>Signup</button>
  </div>

</div>
