
$blue: #2b579a;
$linkBlue: #698bbf;
$orange: rgb(255,183,0);
$red: rgb(255,49,0);

.webform {
  
  &>div {
    display: flex;
    margin: 10px 0;
    padding: 0;
    align-items: baseline;
    font-size: 90%;
  }

  &>div>label {
    flex: 1;
    padding-right: 25px;
    white-space: nowrap;
  }

  input[readonly] {
    background-color: #ddd;
    color: #888;
  }

  input,
  select,
  textarea,
  .input {
    width: 200px;
  }

}

input,
select,
textarea,
.input {
  outline: none;
  border: solid 1px #ccc;
  padding: 5px;
  font-size: 100%;
  font-family: 'Segoe UI', 'Segoe', Tahoma, Verdana;
  &:focus {
    border: solid 1px #0098DA;
  }
}

input.disabled, .input.disabled {
  color: #444;
  background-color: #ccc;
}


button,
.button {
  display: inline-block;
  min-width: 100px;
  padding: 8px 25px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: 100%;
  text-decoration: none;
  text-align: center;
  outline: none;

  &.ok {
    color: #fff;
    background-color: $blue;
  }

  &.disabled {
    opacity: 0.2;
    cursor: default;
  }

  &.delete {
    background-color: $red;
    color: #fff;
  }

}

