
.webform {
  
  p {
    display: flex;
    margin: 10px 0;
    padding: 0;
    align-items: center;
  }

  p label {
    flex: 1;
  }

  input[readonly] {
    background-color: #ddd;
    color: #888;
  }

}

input,
select,
textarea,
.input {
  outline: none;
  border: solid 1px #ccc;
  padding: 5px;
  font-size: 100%;
  font-family: 'Segoe UI', 'Segoe', Tahoma, Verdana;
  &:focus {
    border: solid 1px #0098DA;
  }
}


button,
.button {
  display: inline-block;
  min-width: 80px;
  padding: 8px 25px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: 100%;
  text-decoration: none;
  text-align: center;
  outline: none;
}

