<sng-notification></sng-notification>
<sng-dialog-anchor defaultCaption="Nohomo App"></sng-dialog-anchor>

<div class='top'>

    <div class='flex'>
        <div class='xxl'>Logo</div>
        <div class='flex-1'>

        </div>
        <div>
            <span class='button' *ngIf='!authService.user' routerLink='/login'>Login</span>
            <span class='button' *ngIf='authService.user' (click)='logout()'>Logout</span>
        </div>
    </div>


</div>
<div class='main p15'>
    <router-outlet></router-outlet>
</div>

