
.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100px;
  width: 100%;
  background: #2c2d6d;
  color: #fff;
  padding: 25px 40px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

  span.button {
    border: solid 1px #ddd;
    &:hover {
      border: solid 1px #fff;
      cursor: pointer;
      background: #4143aa;
    }
  }
}

.main {
  margin-top: 100px;
}
