<sng-dialog (close)='close.emit()' (ok)='onOk()'>

  <form [formGroup]='firmForm' class='webform'>

    <div>
      <label>Name</label>
      <input formControlName='name'>
    </div>

    <div>
      <label>Address</label>
      <input formControlName='address1'>
    </div>

    <div>
      <label></label>
      <input formControlName='address2'>
    </div>

    <div>
      <label>City</label>
      <input formControlName='city'>
    </div>

    <div>
      <label>Province</label>
      <select formControlName='province' nhProvinces></select>
    </div>

    <div>
      <label>Postal Code</label>
      <input formControlName='postalCode' nhPostalCode>
    </div>

    <div>
      <label>Telephone</label>
      <input formControlName='telephone' nhTelephone>
    </div>

    <div>
      <label>Email</label>
      <input formControlName='email'>
    </div>

  </form>



</sng-dialog>