HOME

<hr>

<button (click)='newMatter()'>New Matter</button>


<div class='flex mt4'>
  <div class='col6 mr2'>

    <div *ngFor='let matter of matters' class='tile flex' [routerLink]='["matter", matter._id]'>
      <div class='flex-1'>{{ matter.name }}</div>
      <div class='show-on-hover' (click)='deleteMatter($event, matter)'><i class='fa fa-trash'></i></div>
    </div>


  </div>
  <div class='col-6 ml2'>
    <div *ngIf='firm'>
      <h2>{{ firm.name }}</h2>

      <button (click)='firmDetail=true'>Edit Firm</button>
  
    </div>

  </div>
</div>

<nh-firm-detail 
  *ngIf='firmDetail'
  [firm]='firm'
  (save)='saveFirm($event)'
  (close)='firmDetail=false'
></nh-firm-detail>
