<div class='mt3 mb6'>
  <span class='link' routerLink='/'>Back</span>
</div>

<hr>
<button (click)='newDoc()'>+ Doc</button>
 | <button (click)='matterDetail=true'>Edit Mater</button>
<hr>
matter {{ matterId }}
<div>
  <div *ngFor='let doc of documents' class='tile flex' [routerLink]='["document", doc._id]'>
    <div class='flex-1'>{{ doc.name }}</div>
    <div class='show-on-hover' (click)='deleteDocument($event, doc)'><i class='fa fa-trash'></i></div>
  </div>

</div>


<nh-matter-detail 
  *ngIf='matterDetail'
  [matter]='matter'
  (save)='saveMatter($event)'
  (close)='matterDetail=false'
></nh-matter-detail>